<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- footer -->
<footer class="footer border-top" th:fragment="footer">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between py-3 small">
        <p class="text-muted mb-1 mb-md-0">Copyright © 2023 <a href="https://kafka-eagle.org/" target="_blank">Kafka Eagle</a></p>
        <p class="text-muted">Star With <a href="https://github.com/smartloli/EFAK" target="_blank">Github</a></p>
    </div>
</footer>

<!-- script -->
<th:block th:fragment="js">
    <!-- core:js -->
    <script src="../../assets/vendors/core/core.js"></script>

    <!-- Plugin js for this page -->
    <script src="../../assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../../assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="../../assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../../assets/vendors/sweetalert2/sweetalert2.min.js"></script>
    <script src="../../assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../../assets/vendors/pace/pace.min.js"></script>
    <!-- End plugin js for this page -->

    <!-- inject:js -->
    <script src="../../assets/vendors/feather-icons/feather.min.js"></script>
    <script src="../../assets/js/template.js"></script>
    <!-- endinject -->

</th:block>
<!-- css -->
<th:block th:fragment="css">
    <!-- plugins css start -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <link rel="stylesheet" href="../../assets/vendors/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="../../assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/vendors/core/core.css">
    <link rel="stylesheet" href="../../assets/vendors/pace/pace.min.css">
    <link rel="stylesheet" href="../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- plugins css end -->
    <!-- core css -->
    <link rel="stylesheet" href="../../assets/css/main/style.css">
    <link href="../../assets/css/public/gcss.css" rel="stylesheet">
</th:block>