<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- navbar menu -->
<div class="horizontal-menu" th:fragment="menu_navbar">
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="link-icon" data-feather="box"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.dataspace}">DataSpace</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item"><a class="nav-link" href="/clusters/manage" th:text="#{kafka.eagle.dataspace.dashboard}">Dashboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.dataspace.tv}">TV</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="database"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.topics}">Topics</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="category-heading" th:text="#{kafka.eagle.topics.list}">Manager</li>
                            <li class="nav-item"><a class="nav-link" href="/topic/create" th:text="#{kafka.eagle.topics.create}">Create</a></li>
                            <li class="nav-item"><a class="nav-link" href="/topic/manage" th:text="#{kafka.eagle.topics.manager}">Manager</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" th:utext="#{kafka.eagle.topics.ksql}">KSQL</a></li>
                            <li class="nav-item"><a class="nav-link" href="/topic/mock" th:text="#{kafka.eagle.topics.mock}">Mock</a></li>
                            <span sec:authorize="isAuthenticated()">
                                <span sec:authorize="hasRole('ADMIN')">
                                    <li class="category-heading" th:text="#{kafka.eagle.topics.metadata}">Metadata<li>
                                    <li class="nav-item"><a class="nav-link" href="#" th:text="#{kafka.eagle.topics.metadata.op}">MetadataOp</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#" th:text="#{kafka.eagle.topics.balance}">Balance</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#" th:text="#{kafka.eagle.topics.balance.job}">Job</a></li>
                                </span>
                            </span>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="link-icon" data-feather="layers"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.consumers.group}">Consumers</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item"><a class="nav-link" href="/consumer/summary" th:text="#{kafka.eagle.consumers.group.summary}">Overview</a></li>
                            <li class="nav-item"><a class="nav-link" href="/consumer/detail" th:text="#{kafka.eagle.consumers.group.detail}">Detail</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="inbox"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.clusters}">Clusters</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item"><a class="nav-link" href="/clusters/kafka" th:text="#{kafka.eagle.clusters.kafka}">Kafka</a></li>
                            <li class="nav-item"><a class="nav-link" href="/clusters/server" th:text="#{kafka.eagle.clusters.server}">Server</a></li>
                            <li class="nav-item"><a class="nav-link" href="/clusters/manage" th:text="#{kafka.eagle.clusters.manager}">Manager</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="pie-chart"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.monitor}">Monitor</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="submenu-item pe-md-0">
                                    <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.monitor.mbean}">MBean</a></li>
                                    <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.monitor.kafka}">Kafka</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/monitor/produce" th:text="#{kafka.eagle.monitor.produce}">Topic</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="cpu"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.plugins}">Connectors</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.plugins.connector}">Connectors</a></li>
                            <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.plugins.worker}">Workers</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="bell"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.alert}">Alert</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.alert.config}">Config</a></li>
                            <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.alert.info}">Info</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="users"></i>
                        <span class="menu-title" th:text="#{kafka.eagle.system}">System</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <span sec:authorize="isAuthenticated()">
                                <span sec:authorize="hasRole('ADMIN')">
                                    <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.system.user}"></a></li>
                                    <li class="nav-item"><a class="nav-link" href="" th:text="#{kafka.eagle.system.role}"></a></li>
                                </span>
                            </span>
                            <li class="nav-item"><a class="nav-link" href="/system/audit" th:text="#{kafka.eagle.system.audit}"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>