<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.monitor.produce.title}"></title>

    <link rel="stylesheet" th:href="@{../../assets/vendors/dropify/dist/dropify.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">
    <link rel="stylesheet" th:href="@{../../assets/css/public/cluster/manage.create.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/bootstrap-datepicker/daterangepicker.css}">
    <th:block th:replace="public/common :: css"></th:block>

</head>
<body>
<div class="main-wrapper">

    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <div th:replace="public/navbar :: menu_navbar"></div>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">
            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/topic/manage"
                                                   th:text="#{kafka.eagle.monitor}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{kafka.eagle.monitor.produce}"></li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-xl-10 main-content ps-xl-4 pe-xl-5">
                    <h1 class="page-title" th:text="#{kafka.eagle.monitor.produce}"></h1>
                    <p class="lead" th:utext="#{kafka.eagle.monitor.produce.desc}"></p>

                    <hr>
                    <h4 th:utext="#{kafka.eagle.monitor.produce.topic}"></h4>
                    <div class="mb-3">
                        <select id="efak_topic_name_produce_list" class="form-select" multiple="multiple" data-width="100%">
                        </select>
                        <input type="hidden" id="efak_topic_name_mock_hidden" />
                    </div>
                    <hr>
                    <h4 th:utext="#{kafka.eagle.monitor.produce.trend}"></h4>
                    <div class="row">
                        <div class="col-12 col-xl-12 grid-margin stretch-card">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                                        <h6 class="card-title mb-0" th:text="#{kafka.eagle.dataspace.dashboard.messagein}"></h6>
                                    </div>
                                    <div class="row align-items-start">
                                        <div class="col-md-7">
                                            <p class="text-muted tx-13 mb-3 mb-md-0"
                                               th:text="#{kafka.eagle.dataspace.dashboard.messagein.doc}"></p>
                                        </div>
                                        <div class="col-md-5 d-flex justify-content-md-end">
                                            <div id="efak_topic_meta_date" class="ms-auto" style="border: 1px solid #6571ff;cursor: pointer; padding: 5px 10px;">
                                                <i data-feather="calendar" class="icon-md text-primary"></i> &nbsp; <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="efak_topic_meta_chart_msg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="example">
                        <div style="text-align: center;">
                            <button type="button" id="efak_topic_mock_submit" class="btn btn-primary btn-lg"
                                    th:text="#{kafka.eagle.monitor.produce.poll}"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- partial:footer -->
        <footer th:replace="public/common :: footer"></footer>
        <!-- partial -->

    </div>

</div>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../../assets/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js}"></script>
<script th:src="@{../../assets/vendors/dropify/dist/dropify.min.js}"></script>
<script th:src="@{../../assets/vendors/select2/select2.min.js}"></script>
<script th:src="@{../../assets/vendors/bootstrap-datepicker/moment.min.js}"></script>
<script th:src="@{../../assets/vendors/bootstrap-datepicker/daterangepicker.js}"></script>
<script th:src="@{../../assets/js/monitor/monitor.produce.js}"></script>

</body>
</html>