<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.system.profile.title}"></title>

    <link rel="stylesheet" th:href="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">

    <th:block th:replace="public/common :: css"></th:block>

</head>
<body>
<div class="main-wrapper">

    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <div th:replace="public/navbar :: menu_navbar"></div>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">

            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" th:text="#{kafka.eagle.clusters.manage.home}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{kafka.eagle.system.profile}"></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-xl-12 main-content ps-xl-4 pe-xl-5">
                    <h1 class="page-title" th:text="#{kafka.eagle.system.profile}"></h1>
                    <p class="lead" th:utext="#{kafka.eagle.system.profile.desc}"></p>

                    <hr>
                    <h4 th:utext="#{kafka.eagle.system.profile.user}"></h4>
                    <div class="mb-3">
                        <div class="text-center">
                            <p class="tx-16 fw-bolder"><span sec:authentication="principal.username"></span></p>
                            <p class="tx-12 text-muted"><span sec:authentication="principal.authorities"></span></p>
                        </div>
                    </div>
                    <hr>
                    <h4 th:utext="#{kafka.eagle.system.profile.password}"></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 th:utext="#{kafka.eagle.system.profile.password.old}"></h5>
                            <br/>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="efak_system_password_old"
                                       value=""
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 th:utext="#{kafka.eagle.system.profile.password.new}"></h5>
                            <br/>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="efak_system_password_new"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="example">
                        <div style="text-align: center;">
                            <button id="efak_system_user_password_cancle" type="button" class="btn btn-secondary btn-lg"
                                    th:text="#{kafka.eagle.system.profile.password.cancle}"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="efak_system_user_password_submit" class="btn btn-primary btn-lg"
                                    th:text="#{kafka.eagle.system.profile.password.submit}"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- partial:footer -->
        <footer th:replace="public/common :: footer"></footer>
        <!-- partial -->
    </div>

    <!-- view detail -->
    <div class="modal fade" id="efak_system_audit_detail_modal" tabindex="-1" aria-labelledby="varyingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabel"
                        th:utext="#{kafka.eagle.system.audit.log.detail}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <textarea class="form-control" id="efak_system_audit_detail_textarea" value=""
                                  rows="16"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../../assets/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js}"></script>
<script th:src="@{../assets/js/system/system.audit.js}"></script>

</body>
</html>