<?xml version="1.0" encoding="UTF-8"?>
<!-- Pay attention to the following do not forget to import mvc & context 
	schema. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="    
   http://www.springframework.org/schema/beans    
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
   http://www.springframework.org/schema/mvc    
   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd    
   http://www.springframework.org/schema/context    
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Converts the class marked with the @Controller annotation to bean. -->
	<context:component-scan base-package="org.smartloli.kafka.eagle.web" />
	<!-- The first one is to annotate the annotations and the second one is 
		the processing method. -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>
	<!-- HandlerMapping -->
	<bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:mapping path="/" />
			<bean class="org.smartloli.kafka.eagle.web.controller.aop.AccountInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- HandlerAdapter -->
	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>

	<mvc:annotation-driven />
	<mvc:resources mapping="/media/**" location="/WEB-INF/media/" />

	<!-- ViewResolver -->
	<!-- Filter out the suffix *.jsp, the specified directory in the new page -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans> 