<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.welcome.title.desc}"></title>

    <th:block th:replace="public/common :: css"></th:block>

<!--    <link rel="stylesheet" th:href="@{../assets/css/public/welcome/plugins.css}">-->
    <link rel="stylesheet" th:href="@{../assets/css/public/welcome/style.css}">
    <!--    <link rel="stylesheet" th:href="@{../assets/css/public/welcome/docs/docs.css}">-->
<!--    <link rel="stylesheet" th:href="@{../assets/css/public/welcome/docs/font-awesome.css}">-->

</head>

<body>
<div class="main-wrapper">
    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <!-- partial -->
    <div class="page-wrapper">
        <main class="page-content">

            <!-- WRAPPER ALL -->
            <div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">

                <!-- WAVE DOTS -->
                <div class="waves"></div>
                <!-- WAVE DOTS -->

                <!-- CONTENT -->
                <div class="edrea_tm_content">

                    <!-- HOME -->
                    <div class="edrea_tm_section animated" id="home">
                        <div class="section_inner">
                            <div class="edrea_tm_home">
                                <div class="efak_play_btn_container">
                                    <div id="efak_play_btn_app">
                                        <div class="play active">
                                            <div class="line line_1"></div>
                                            <div class="line line_2"></div>
                                            <div class="line line_3"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- start -->
                                <!-- end -->


                                <h3 class="name">KAFKA <span class="coloring">EAGLE</span></h3>
                                <h2 class="job">
							<span class="cd-headline rotate-1">
								<span class="blc">A DISTRIBUTED AND HIGH-PERFORMANCE</span>
								<span class="cd-words-wrapper">
									<b class="is-visible">KAFKA</b>
								</span>
								<span class="blc">MONITORING SYSTEM</span>
							</span>
                                </h2>
                                <div class="edrea_tm_button transition_link">
                                    <a href="#download"><i class="icon-download-1"> </i>DOWNLOAD (v3.0.1)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /HOME -->

                    <!-- /PORTFOLIO -->

                </div>
                <!-- /CONTENT -->
            </div>
        </main>
        <footer th:replace="public/common :: footer"></footer>
    </div>
</div>
</div>
<!-- / WRAPPER ALL -->

<!-- SCRIPTS -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../assets/js/welcome/plugins/plugins.js}"></script>
<!--<script th:src="@{../assets/js/welcome/plugins/init.js}"></script>-->
<!--<script th:src="@{../assets/js/welcome/plugins/modernizr.custom.js}"></script>-->
<!-- /SCRIPTS -->

</body>

</html>