html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Clearing*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/*----------------------------------------*/
/*----- 1.2 General styles -----*/
/*----------------------------------------*/
body {
	background: url(../images/body-bg.png) repeat #232323;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	line-height: 1.5em;
}
/*----------------------------------------*/
/*----- 1.3 Typography -----*/
/*----------------------------------------*/
h1, h2, h3, h4 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
	color: #000000;
	font-style: normal;
	line-height: 1em;
}
h1 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}
h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
}
h3 {
	font-size: 15px;
	color: #5e5e5e;
	font-style: italic;
}
/*heading at center of divider*/
/*
If you have long heading than given in default template, just increase the width assigned to 'h2' as per requirement
and change 'margin-left'
'margin-left' = new width of heading divided by 2 (two)
*/
h4 {
	background: url(../images/wrapper-bg.png) repeat;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0px;
	position: absolute;
	top: -7px;
	width: 130px;
	margin-left: -65px;
	left: 50%;
}
a {
	color: #c16004;
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
span {
	color: #c16004;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*----------------------------------------*/
/*----- 1.4 Basic layout divs and common classes -----*/
/*----------------------------------------*/
/*Use 'clear' below dividers, if necessary*/
/*----- Dividers -----*/
.divider {
	background: url(../images/divider.png) no-repeat center top;
	width: 620px;
	height: 3px;
	margin: 40px auto;
	display: block;
	clear: both;
	position: relative;
}
.divider_small {
	background: url(../images/divider-small.png) no-repeat center top;
	width: 100%;
	height: 2px;
	margin: 20px auto;
	display: block;
	clear: both;
	float: left;
}
/*----- Text styles -----*/
.textstyle1 {
	font-size: 12px;
}
.textstyle2 {
	font-size: 12px;
	font-style: italic;
}
/*============================================================*/
/*---------- 2. TEMPLATE STRUCTRE ----------*/
/*============================================================*/
#wrapper {
	width: 940px;
	margin: 0 auto;
}
/*----- logo -----*/
/*If image logo - change width and height of '.logo' as per your logo*/
.logo {
	width: 276px;
	height: 58px;
	padding: 40px 0px;
	margin: 0 auto;
}
/*If text logo - see help document*/
.textlogo {
	padding: 40px 0px;
}
.textlogo h1 {
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.textlogo h1 a {
	color: #ffffff;
}
/*----- main content of page -----*/
#content {
	background: url(../images/wrapper-bg.png) repeat #ffffff;
	width: 620px;
	padding: 40px 160px;
	float: left;
	box-shadow: 0px 1px 2px 0px #000000;
	-moz-box-shadow: 0px 1px 2px 0px #000000;
	-webkit-box-shadow: 0px 1px 2px 0px #000000;
	text-align: center;
}
.launch {
	background: url(../images/alert-title.png) no-repeat;
	width: 402px;
	height: 108px;
	margin: 0 auto;
}
/*----- countdown -----*/
.countdown_bg {
	background: url(../images/countdown-bg.png) no-repeat;
	width: 560px;
	height: 60px;
	margin: 0 auto 20px auto;
	display: block;
}
#defaultCountdown {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding-top: 19px;
	padding-left: 5px;
	float:left;
}
#d, #h, #m, #s {
	margin-left: 35px;
	margin-right: 5px;
	float:left;
}
html #d_name, #h_name, #m_name, #s_name {
	float:left;
}

form#subform label.error {
	position: absolute;
	top: 50px;
	left: 0px;
	color: #cb2027;
	font-size: 11px;
}
form#subform #result_sub {
	width: 390px;
	line-height: 2em;
	text-align: right;
	float: left;
}
/*----- social -----*/
ul.social {
	width: 100%;
	height: 32px;
	text-align: center;
}
ul.social li {
	padding: 0px 2px;
	display: inline-block;
	list-style-type: none;
	text-indent: -9999;
}

a.vimeo {
	background: url(../images/icons/vimeo.png) no-repeat 0 0;
	width: 32px;
	height: 32px;
	display: block;
}
a.vimeo:hover {
	background: url(../images/icons/vimeo.png) no-repeat 0 -32px;
}

/*----- copyright -----*/
.copyright {
	width: 910px;
	padding: 15px 15px 40px 15px;
	font-size: 12px;
	color: #6a6969;
	text-align: center;
	text-shadow: 0px 1px 0px #000000;
	float: left;
}
.copyright a {
	color: #6a6969;
	text-shadow: 0px 1px 0px #000000;
}


/*----- IE 8 fix -----*/
/*Adjusted just because rendering of google web font is different in IE */
@media \0screen {
#d, #h, #m, #s {
	margin-left: 30px;
}
}
