<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{kafka.eagle.login.title}"></title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/public/login/login-custom.css">
    <link rel="stylesheet" href="../../assets/css/public/login/login.css">
</head>
<body>

<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <img class="user-avatar" src="../../assets/images/ke_login.png"
                 width="150px">

            <h1>EFAK</h1>
            <h5>( Eagle For Apache Kafka<sup>®</sup> )</h5>

            <form th:action="@{/login.do}" method="post"
                  onsubmit="return contextFormValid();return false;">
                <div class="form-content">
                    <div class="form-group">
                        <input class="form-control input-underline input-lg" id="usr"
                               ng-model="name" name="username" placeholder="" th:placeholder="#{kafka.eagle.login.username}"
                               autocomplete="off" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-underline input-lg" id="pwd"
                               name="password" placeholder="" th:placeholder="#{kafka.eagle.login.passowrd}" autocomplete="off"
                               type="password">
                        <input type="hidden" id="ref_url" name="ref_url">
                    </div>
                    <div class="form-group">
<!--                        <input class="checkbox" type="checkbox" id="rememberme" name="remember-me" value="1">-->
                        <input type="checkbox" class="form-check-input" id="rememberme" name="remember-me" value="1">
                        <label class="form-check-label" for="rememberme" th:text="#{kafka.eagle.login.rememberme}"></label>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" th:if="${param.error}" th:text="#{kafka.eagle.login.error.msg}">
                        </div>
                        <div id="alert_mssage" style="display: none"
                             class="alert alert-danger"></div>
                    </div>
                </div>
                <button class="btn rounded-btn" routerlink="" th:text="#{kafka.eagle.login.submit}"></button>
            </form>
        </div>
    </div>
</div>
</body>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../assets/js/login/login.js}"></script>

<script type="text/javascript">
    function contextFormValid() {
        var url = window.location.href;
        var ref_url = "";
        var username = $("#usr").val();
        var password = $("#pwd").val();
        if (url.indexOf("/login?") > -1) {
            ref_url = url.split("/login?")[1];
        }
        if (ref_url.length == 0) {
            ref_url = "/";
        }
        $("#ref_url").val(ref_url);
        if (username.length == 0 || password.length == 0) {
            $("#alert_mssage").text("用户名和密码不能为空").show();
            setTimeout(function () {
                $("#alert_mssage").hide()
            }, 3000);
            return false;
        }

        return true;
    }
</script>
</html>