<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.alert.rule.title}"></title>

    <link rel="stylesheet" th:href="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/jquery-steps/jquery.steps.css}">

    <th:block th:replace="public/common :: css"></th:block>

</head>
<body>
<div class="main-wrapper">

    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <div th:replace="public/navbar :: menu_navbar"></div>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">

            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" th:text="#{kafka.eagle.clusters.manage.home}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{kafka.eagle.alert.rule}"></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" th:text="#{kafka.eagle.alert.rule}"></h6>
                            <p class="text-muted mb-3" th:utext="#{kafka.eagle.alert.rule.desc}"></p>
                            <div style="float: right!important;margin-top: -88px;">
                                <button id="efak_alert_rule_btn" type="button" class="btn btn-primary btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#efak_alert_rule_add_modal" data-bs-whatever=""
                                        th:text="#{kafka.eagle.alert.rule.btn}"></button>
                            </div>
                            <div class="table-responsive">
                                <table id="efak_alert_rule_tbl" class="table table-striped" style="width:100%">
                                    <thead>
                                    <tr th:utext="#{kafka.eagle.alert.rule.tr}">
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- partial:footer -->
        <footer th:replace="public/common :: footer"></footer>
        <!-- partial -->
    </div>

    <!-- add rule -->
    <div class="modal fade" id="efak_alert_rule_add_modal" tabindex="-1" aria-labelledby="varyingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabel"
                        th:utext="#{kafka.eagle.alert.rule.btn}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div id="efak_alert_rule_wizard">
                        <h2 th:text="#{kafka.eagle.alert.rule.wizard.one}"></h2>
                        <section>
                            <div class="mb-3">
                                <label for="efak_alert_rule_wizard_one_name" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.one.name}"></label>
                                <input type="text" class="form-control" id="efak_alert_rule_wizard_one_name"
                                       name="efak_alert_rule_wizard_one_name" maxlength="64">
                            </div>
                            <div class="mb-3">
                                <label for="efak_alert_rule_wizard_one_severity" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.one.severity}"></label>
                                <div id="efak_alert_rule_wizard_one_severity"
                                     name="efak_alert_rule_wizard_one_severity">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="efak_alert_rule_severity"
                                               id="efak_alert_rule_severity1">
                                        <label th:text="#{kafka.eagle.alert.rule.wizard.one.severity.1}"
                                               class="form-check-label" for="efak_alert_rule_severity1" checked="">
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="efak_alert_rule_severity"
                                               id="efak_alert_rule_severity2">
                                        <label th:text="#{kafka.eagle.alert.rule.wizard.one.severity.2}"
                                               class="form-check-label" for="efak_alert_rule_severity2">
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="efak_alert_rule_severity"
                                               id="efak_alert_rule_severity3">
                                        <label th:text="#{kafka.eagle.alert.rule.wizard.one.severity.3}"
                                               class="form-check-label" for="efak_alert_rule_severity3">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="efak_alert_rule_wizard_one_frequency" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.one.frequency}"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="efak_alert_rule_wizard_one_frequency"
                                           value="1">
                                    <div class="input-group-text"
                                         th:text="#{kafka.eagle.alert.rule.wizard.one.frequency.unit}">
                                    </div>
                                </div>
                            </div>
                        </section>

                        <h2 th:text="#{kafka.eagle.alert.rule.wizard.two}"></h2>
                        <section>
                            <div class="mb-3">
                                <label for="efak_alert_rule_two_type" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.two.type}"></label>
                                <select id="efak_alert_rule_two_type" class="form-select" data-width="100%">
                                </select>
                                <input type="hidden" id="efak_alert_rule_two_type_hidden" />
                            </div>
                            <div class="mb-3">
                                <label for="efak_alert_rule_two_metric" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.two.metric}"></label>
                                <select id="efak_alert_rule_two_metric" class="form-select" data-width="100%">
                                </select>
                                <input type="hidden" id="efak_alert_rule_two_metric_hidden" />
                            </div>
                            <div class="mb-3">
                                <label for="efak_alert_rule_two_operator" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.two.operator}"></label>
                                <select id="efak_alert_rule_two_operator" class="form-select" data-width="100%">
                                </select>
                                <input type="hidden" id="efak_alert_rule_two_operator_hidden" />
                            </div>
                            <div class="mb-3">
                                <label for="efak_alert_rule_two_value" class="form-label"
                                       th:utext="#{kafka.eagle.alert.rule.wizard.two.value}"></label>
                                <input type="text" class="form-control" id="efak_alert_rule_two_value"
                                       name="efak_alert_rule_two_value">
                            </div>
                        </section>

                        <h2 th:text="#{kafka.eagle.alert.rule.wizard.three}"></h2>
                        <section>
                            <h4>Third Step</h4>
                            <p></p>
                        </section>

                        <h2 th:text="#{kafka.eagle.alert.rule.wizard.four}"></h2>
                        <section>
                            <h4>Fourth Step</h4>
                            <p></p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit channel -->
    <div class="modal fade" id="efak_alert_channel_edit_modal" tabindex="-1" aria-labelledby="varyingModalLabelEdit"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabelEdit"
                        th:utext="#{kafka.eagle.alert.channel.btn.edit}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="efak_alert_channel_name" class="form-label"
                               th:utext="#{kafka.eagle.alert.channel.name}"></label>
                        <input type="text" class="form-control" id="efak_alert_channel_name_edit"
                               name="efak_alert_channel_name_edit" maxlength="64">
                    </div>
                    <div class="mb-3">
                        <label for="efak_alert_channel_type_edit" class="form-label"
                               th:utext="#{kafka.eagle.alert.channel.type}"></label>
                        <select id="efak_alert_channel_type_edit" class="form-select" data-width="100%">
                        </select>
                        <input type="hidden" id="efak_alert_channel_type_edit_hidden"/>
                    </div>
                    <div class="mb-3">
                        <label for="efak_alert_channel_url" class="form-label"
                               th:utext="#{kafka.eagle.alert.channel.url}"></label>
                        <input type="text" class="form-control" id="efak_alert_channel_url_edit"
                               name="efak_alert_channel_url_edit">
                    </div>
                    <div class="mb-3">
                        <label for="efak_alert_channel_auth_json" class="form-label"
                               th:utext="#{kafka.eagle.alert.channel.auth.json}"></label>
                        <input type="text" class="form-control" id="efak_alert_channel_auth_json_edit"
                               name="efak_alert_channel_auth_json_edit">
                        <input type="hidden" id="efak_alert_channel_id_edit_hidden">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            th:text="#{kafka.eagle.clusters.manage.button.close}">Close
                    </button>
                    <button type="button" id="efak_alert_channel_edit_submit" class="btn btn-primary"
                            th:text="#{kafka.eagle.clusters.manage.button.submit}">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- view modal -->
    <div class="modal fade" id="efak_alert_channel_view_modal" tabindex="-1" aria-labelledby="varyingModalLabelEdit"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabelView"
                        th:utext="#{kafka.eagle.alert.channel.btn.view}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="efak_alert_channel_name_view" class="form-label"
                               th:utext="#{kafka.eagle.alert.channel.view}"></label>
                        <textarea id="efak_alert_channel_name_view" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            th:text="#{kafka.eagle.clusters.manage.button.close}">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../../assets/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../../assets/vendors/jquery-steps/jquery.steps.min.js}"></script>
<script th:src="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js}"></script>
<script th:src="@{../../assets/vendors/select2/select2.min.js}"></script>
<script th:src="@{../assets/js/alert/alert.rule.js}"></script>

</body>
</html>