<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.topics.create}"></title>

    <link rel="stylesheet" th:href="@{../../assets/vendors/dropify/dist/dropify.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">
    <link rel="stylesheet" th:href="@{../../assets/css/public/cluster/manage.create.css}">
    <th:block th:replace="public/common :: css"></th:block>

</head>
<body>
<div class="main-wrapper">

    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">
            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/topic/manage"
                                                   th:text="#{kafka.eagle.topics.manager}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{kafka.eagle.topics.create}"></li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-xl-10 main-content ps-xl-4 pe-xl-5">
                    <h1 class="page-title" th:text="#{kafka.eagle.topics.create}"></h1>
                    <p class="lead" th:utext="#{kafka.eagle.topics.create.desc}"></p>

                    <hr>
                    <h4 id="efak_topic_name" th:utext="#{kafka.eagle.topics.create.name}"></h4>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="efak_topic_name_create" maxlength="128" value=""
                               placeholder="Enter Name"
                               th:placeholder="#{kafka.eagle.topics.create.name.placeholder}">
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 id="efak_topic_name_partition" th:utext="#{kafka.eagle.topics.partition.name}"></h4>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="efak_topic_name_partition_create"
                                       value=""
                                       placeholder="Enter Name"
                                       th:placeholder="#{kafka.eagle.topics.partition.name.placeholder}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 id="efak_topic_name_replicate" th:utext="#{kafka.eagle.topics.replicate.name}"></h4>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="efak_topic_name_replicate_create"
                                       value=""
                                       placeholder="Enter Name"
                                       th:placeholder="#{kafka.eagle.topics.replicate.name.placeholder}">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 id="efak_topic_name_retain" th:utext="#{kafka.eagle.topics.retain.name}"></h4>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="efak_topic_name_retain_create"
                                       value=""
                                       placeholder="Enter Name"
                                       th:placeholder="#{kafka.eagle.topics.retain.name.placeholder}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 id="efak_topic_name_retain_unit" th:utext="#{kafka.eagle.topics.retain.unit.name}"></h4>
                            <div class="mb-3">
                                <select id="efak_topic_name_retain_unit_create" class="form-select" data-width="100%">
                                    <option value="day" th:text="#{kafka.eagle.topics.retain.unit.day}">day</option>
                                    <option value="ms" th:text="#{kafka.eagle.topics.retain.unit.ms}">ms</option>
                                    <option value="min" th:text="#{kafka.eagle.topics.retain.unit.min}">min</option>
                                    <option value="hour" th:text="#{kafka.eagle.topics.retain.unit.hour}">hour</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="example">
                        <div style="text-align: center;">
                            <button id="efak_topic_create_cancle" type="button" class="btn btn-secondary btn-lg"
                                    th:text="#{kafka.eagle.topic.manage.create.cancle}"></button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="efak_cluster_create_submit" class="btn btn-primary btn-lg"
                                    th:text="#{kafka.eagle.topics.create}"></button>
                        </div>
                    </div>

                </div>
                <div class="col-xl-2 content-nav-wrapper">
                    <ul class="nav content-nav d-flex flex-column">
                        <li class="nav-item">
                            <a href="#efak_topic_name" class="nav-link"
                               th:text="#{kafka.eagle.topic.create.name.link}"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#efak_topic_name_partition" class="nav-link"
                               th:text="#{kafka.eagle.topic.partition.name.link}"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#efak_topic_name_retain" class="nav-link"
                               th:text="#{kafka.eagle.topic.retain.name.link}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- partial:footer -->
        <footer th:replace="public/common :: footer"></footer>
        <!-- partial -->

    </div>

    <!-- single add node -->
    <div class="modal fade" id="efak_kafka_broker_add_modal" tabindex="-1" aria-labelledby="varyingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabel"
                        th:utext="#{kafka.eagle.clusters.manage.add.node}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <form role="form" action="/clusters/manage/add/single" method="post"
                      onsubmit="return contextFormValid();return false;">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="efak_brokerid_label" class="form-label"
                                   th:utext="#{kafka.eagle.clusters.manage.add.node.id}">BrokerId:</label>
                            <input type="text" class="form-control" id="efak_brokerid_label" name="efak_brokerid_name">
                            <input type="hidden" class="form-control" id="efak_clusterid" name="efak_clusterid_name">
                            <input type="hidden" class="form-control" id="efak_dataid" name="efak_dataid">
                        </div>
                        <div class="mb-3">
                            <label for="efak_brokerhost_label" class="form-label"
                                   th:utext="#{kafka.eagle.clusters.manage.add.node.host}">BrokerHost:</label>
                            <input type="text" class="form-control" id="efak_brokerhost_label"
                                   name="efak_brokerhost_name">
                        </div>
                        <div class="mb-3">
                            <label for="efak_brokerport_label" class="form-label"
                                   th:utext="#{kafka.eagle.clusters.manage.add.node.port}">BrokerPort:</label>
                            <input type="text" class="form-control" id="efak_brokerport_label"
                                   name="efak_brokerport_name">
                        </div>
                        <div class="mb-3">
                            <label for="efak_brokerjmxport_label" class="form-label"
                                   th:utext="#{kafka.eagle.clusters.manage.add.node.jmxport}">BrokerJmxPort:</label>
                            <input type="text" class="form-control" id="efak_brokerjmxport_label"
                                   name="efak_brokerjmxport_name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{kafka.eagle.clusters.manage.button.close}">Close
                        </button>
                        <button type="submit" class="btn btn-primary"
                                th:text="#{kafka.eagle.clusters.manage.button.submit}">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- batch add nodes -->
    <div class="modal fade" id="efak_kafka_broker_batch_modal" tabindex="-1" aria-labelledby="varyingModalLabelBatch"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabelBatch"
                        th:text="#{kafka.eagle.clusters.manage.add.batch.node}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <form role="form" action="/clusters/manage/add/batch" enctype="multipart/form-data" method="post"
                      onsubmit="return contextFormValidBatch();return false;">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="efak_batch_module_download" class="form-label"
                                   th:text="#{kafka.eagle.clusters.manage.add.batch.module}">Module:</label><br/>
                            <button id="efak_batch_module_download" type="button" class="btn btn-outline-primary btn-sm"
                                    th:utext="#{kafka.eagle.clusters.manage.add.batch.module.download}"></button>
                        </div>
                        <div class="mb-3">
                            <label for="efak_batch_module_download" class="form-label"
                                   th:text="#{kafka.eagle.clusters.manage.add.batch.node.import}">Module:</label><br/>
                            <div>
                                <input type="file" id="efak_kafka_broker_batch_import" name="file"
                                       data-allowed-file-extensions="xlsx xls" data-max-file-size="100M"/>
                                <input id="cid"
                                       name="cid" type="hidden" class="form-control"/>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{kafka.eagle.clusters.manage.button.close}">Close
                        </button>
                        <button type="submit" class="btn btn-primary"
                                th:text="#{kafka.eagle.clusters.manage.button.submit}">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../../assets/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js}"></script>
<script th:src="@{../../assets/vendors/dropify/dist/dropify.min.js}"></script>
<script th:src="@{../../assets/vendors/select2/select2.min.js}"></script>
<script th:src="@{../../assets/js/topic/topic.create.js}"></script>

</body>
<script type="text/javascript">

    function errorNoti(msg, icon) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        // error or success
        Toast.fire({
            icon: icon,
            title: msg
        })
    }

    function contextFormValid() {
        var efak_brokerid_label = $("#efak_brokerid_label").val();
        var efak_brokerhost_label = $("#efak_brokerhost_label").val();
        var efak_brokerport_label = $("#efak_brokerport_label").val();
        var efak_brokerjmxport_label = $("#efak_brokerjmxport_label").val();
        if (efak_brokerid_label.length == 0 || efak_brokerhost_label.length == 0 || efak_brokerport_label.length == 0 || efak_brokerjmxport_label.length == 0) {
            errorNoti("必填项不能为空", "error");
            return false;
        }

        console.log(efak_brokerport_label + "," + efak_brokerjmxport_label)
        if (!$.isNumeric(efak_brokerport_label) || !$.isNumeric(efak_brokerjmxport_label)) {
            errorNoti("端口号必须为数字", "error");
            return false;
        }

        return true;
    }

    function contextFormValidBatch() {
        var file = $("#efak_kafka_broker_batch_import")[0];
        if (file.value == "") {
            errorNoti("请选择文件", "error");
            return false;
        }
        return true;
    }
</script>
</html>    