<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.topics.manager}">Manage - KafkaEagle</title>

    <link rel="stylesheet" th:href="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">

    <th:block th:replace="public/common :: css"></th:block>

</head>
<body>
<div class="main-wrapper">

    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <div th:replace="public/navbar :: menu_navbar"></div>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">

            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" th:text="#{kafka.eagle.clusters.manage.home}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{kafka.eagle.topics.manager}"></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title" th:text="#{kafka.eagle.topics.manager}"></h6>
                            <p class="text-muted mb-3" th:utext="#{kafka.eagle.topics.manager.home.sub.desc}"></p>
<!--                            <div style="float: right!important;margin-top: -88px;">-->
<!--                                <button id="efak_manage_btn" type="button" class="btn btn-primary btn-sm"-->
<!--                                        th:text="#{kafka.eagle.clusters.manage.create}"></button>-->
<!--                            </div>-->
                            <div class="table-responsive">
                                <table id="efak_topic_manage_tbl" class="table table-striped" style="width:100%">
                                    <thead>
                                    <tr th:utext="#{kafka.eagle.topic.manage.tr}">
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- partial:footer -->
        <footer th:replace="public/common :: footer"></footer>
        <!-- partial -->

    </div>
</div>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../../assets/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js}"></script>
<script th:src="@{../assets/js/topic/topic.manage.js}"></script>

</body>
</html>    