<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{kafka.eagle.topic.meta}"></title>

    <link rel="stylesheet" th:href="@{../../assets/vendors/dropify/dist/dropify.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">
    <link rel="stylesheet" th:href="@{../../assets/css/public/cluster/manage.create.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/bootstrap-datepicker/daterangepicker.css}">
    <th:block th:replace="public/common :: css"></th:block>

</head>
<body>
<div class="main-wrapper">

    <!-- partial:menu -->
    <div th:replace="public/header :: menu_header"></div>
    <div th:replace="public/navbar :: menu_navbar"></div>
    <!-- partial -->

    <div class="page-wrapper">

        <div class="page-content">
            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/topic/manage"
                                                   th:text="#{kafka.eagle.topics.manager}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{kafka.eagle.topic.meta}"></li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-xl-10 main-content ps-xl-4 pe-xl-5">
                    <h1 class="page-title" th:text="#{kafka.eagle.topic.meta}"></h1>
                    <p class="lead" th:utext="#{kafka.eagle.topic.meta.desc}"></p>

                    <hr>
                    <h4 id="efak_topic_meta_summary" th:utext="#{kafka.eagle.topic.meta.summary}"></h4>
                    <div class="row">
                        <div id="efka_meta_panel1" class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <h6 class="card-title mb-0" th:text="#{kafka.eagle.topic.meta.logsize}"></h6>
                                        <div class="dropdown mb-2">
                                            <button class="btn p-0" type="button" id="dropdownMenuButtonLogSize"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonLogSize">
                                                <a class="dropdown-item d-flex align-items-center"
                                                   href="javascript:;"><i data-feather="eye" class="icon-sm me-2"></i>
                                                    <span class="" th:text="#{kafka.eagle.dataspace.dashboard.view}">View</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xxl-8 col-md-12">
                                            <h1 id="efka_topic_meta_logsize" class="mb-2">0</h1>
                                            <div class="d-flex align-items-baseline">
                                                <p class="text-primary">
                                                    <span>MSG</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-md-12">
                                            <h3 class="mb-2"></h3>
                                            <div class="d-flex align-items-baseline">
                                                <p class="text-primary">
                                                    <i data-feather="file-text" class="icon-xxl mb-1"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="efka_meta_panel2" class="col-md-4 grid-margin stretch-card"></div>
                        <div id="efka_meta_panel3" class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-baseline">
                                        <h6 class="card-title mb-0" th:text="#{kafka.eagle.topic.meta.capacity}"></h6>
                                        <div class="dropdown mb-2">
                                            <button class="btn p-0" type="button" id="dropdownMenuButtonCapacity"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCapacity">
                                                <a class="dropdown-item d-flex align-items-center"
                                                   href="javascript:;"><i data-feather="eye" class="icon-sm me-2"></i>
                                                    <span class="" th:text="#{kafka.eagle.dataspace.dashboard.view}">View</span></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-8 col-md-12">
                                            <h1 id="efka_topic_meta_capacity" class="mb-2">0</h1>
                                            <div class="d-flex align-items-baseline">
                                                <p class="text-success">
                                                    <span id="efka_topic_meta_capacity_unit">B</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 col-md-12">
                                            <h3 class="mb-2"></h3>
                                            <div class="d-flex align-items-baseline">
                                                <p class="text-success">
                                                    <i data-feather="database" class="icon-xxl mb-1"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4 id="efak_topic_meta_detail" th:utext="#{kafka.eagle.topic.meta.table.detail}"></h4>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="efak_topic_meta_tbl" class="table table-striped" style="width:100%">
                                            <thead>
                                            <tr th:utext="#{kafka.eagle.topic.meta.tr}">
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4 id="efak_topic_meta_chart" th:utext="#{kafka.eagle.topic.meta.chart}"></h4>
                    <div class="row">
                        <div class="col-12 col-xl-12 grid-margin stretch-card">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                                        <h6 class="card-title mb-0" th:text="#{kafka.eagle.dataspace.dashboard.messagein}"></h6>
                                    </div>
                                    <div class="row align-items-start">
                                        <div class="col-md-7">
                                            <p class="text-muted tx-13 mb-3 mb-md-0"
                                               th:text="#{kafka.eagle.dataspace.dashboard.messagein.doc}"></p>
                                        </div>
                                        <div class="col-md-5 d-flex justify-content-md-end">
                                            <div id="efak_topic_meta_date" class="ms-auto" style="border: 1px solid #6571ff;cursor: pointer; padding: 5px 10px;">
                                                <i data-feather="calendar" class="icon-md text-primary"></i> &nbsp; <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="efak_topic_meta_chart_msg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 content-nav-wrapper">
                    <ul class="nav content-nav d-flex flex-column">
                        <li class="nav-item">
                            <a href="#efak_topic_meta_summary" class="nav-link"
                               th:text="#{kafka.eagle.topic.meta.summary}"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#efak_topic_meta_detail" class="nav-link"
                               th:text="#{kafka.eagle.topic.meta.table.detail}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- partial:footer -->
        <footer th:replace="public/common :: footer"></footer>
        <!-- partial -->
    </div>

    <!-- preview -->
    <div class="modal fade" id="efak_topic_partition_msg_preview_modal" tabindex="-1"
         aria-labelledby="varyingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="varyingModalLabel"
                        th:utext="#{kafka.eagle.topic.meta.preview}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="efak_topic_name_msg_preview" class="form-label"
                               th:utext="#{kafka.eagle.topic.meta.preview.ten}"></label>
                        <textarea class="form-control" id="efak_topic_name_msg_preview"
                                  name="efak_topic_name_msg_preview" rows="20" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- core:js -->
<th:block th:replace="public/common :: js"></th:block>

<!-- plugins:js -->
<script th:src="@{../../assets/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../../assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js}"></script>
<script th:src="@{../../assets/vendors/bootstrap-datepicker/moment.min.js}"></script>
<script th:src="@{../../assets/vendors/bootstrap-datepicker/daterangepicker.js}"></script>
<script th:src="@{../../assets/js/topic/topic.meta.js}"></script>

</body>
</html>