// Typeahead

.typeahead.tt-input,
.typeahead.tt-hint {
  @extend .form-control;
  background-color: $input-bg !important;
  /*rtl:raw:
  direction: rtl;
  */
}
.tt-menu {
  @extend .dropdown-menu;
  .tt-suggestion {
    @extend .dropdown-item;
    cursor: pointer;
  }
}